{% extends 'base.html' %}

{% block title %} 
<title> Home | Search Hotel </title> 
{% endblock %}
{% load static %}

{% load google_translate %}

{% block style %} 
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="{% static 'style/account.css' %}">
{% endblock %}



{% block content %}

<style type="text/css">
  .field-icon {
  float: right;
  margin-left: -25px;
  margin-top: -25px;
  position: relative;
  z-index: 2;
}
</style>

<body class="text-center" style="background-color: #f5f5f5;">
    <form class="form-signin col-11 col-sm-6 col-md-6 col-lg-3 mt-5 m-auto mb-4 p-3 bg-white baxodir_account_card">
      <a href="{% url 'home' %}">
      <img class="mb-4" src="{% static 'images/logo4.png' %}" alt="" width="70" height="70">
      </a>
      <h3 class="h5 mb-3 font-weight-normal text-info" style="font-family: 'Baloo Chettan 2', cursive; font-size: 20px;">Parolni tiklash mofaqiyatli tugallandi</h3>
       
   
      <a href="{% url 'sign_in' %}">
      <button class="btn btn-lg btn-primary active btn-block col-12 col-12 col-sm-12 col-md-12 col-lg-12 mt-5" type="button" style="font-family: 'Baloo Chettan 2', cursive; font-size: 16px;">Tizimga qaytish</button>
      </a>


      <p class="mt-5 mb-3 text-muted" style="font-family: 'Baloo Chettan 2', cursive; font-size: 16px;">© 2021-2022</p>
    </form>


</body>
    
{% endblock %}







<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{title}}</title>
</head>
<body>


<h1>Password Reset Complete</h1> 
<a href="{% url 'sign_in' %}">Login</a> 
	
</body>
</html>