<!-- ↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕ -->
<!-- START BASE DESIGNS, LINKS - BOG'LANISHLAR BAZASI********************* -->
<!-- ↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕ -->

{% extends 'base.html' %}

<!-- ↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕ -->
<!-- END BASE DESIGNS, LINKS - BOG'LANISHLAR BAZASI*********************** -->
<!-- ↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕ -->



<!-- ↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕ -->
<!-- START BLOCK TITLE *************************************************** -->
<!-- ↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕ -->

{% block title %} 
<title> UY | QIDIRISH SAHIFASI </title> 
{% endblock %}
{% load static %}

<!-- ↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕ -->
<!-- END BLOCK TITLE ***************************************************** -->
<!-- ↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕ -->




<!-- ↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕ -->
<!-- START BLOCK STYLE *************************************************** -->
<!-- ↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕ -->

{% block style %} 
<link rel="stylesheet" type="text/css" href="{% static 'style/account.css' %}">
{% endblock %}

<!-- ↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕ -->
<!-- END BLOCK STYLE *************************************************** -->
<!-- ↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕ -->





<!-- ↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕ -->
<!-- START BLOCK CONTENT ************************************************* -->
<!-- ↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕ -->

{% block content %}
<style type="text/css">
  
.address_style{
  padding-left: 0px;
  padding-right: 0px;
}

.region_style{
 padding-right: 0px;
}

.search_style{
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  font-family: 'Baloo Chettan 2';
  font-size: 18px; 
  padding: 11.5px;
}
.button_style{
  padding-left: 0px;
}

.tizimga_kirish{
  margin-right: 10px;
}

@media screen and (max-width: 767px) {

#id_address{
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;

  
}
#id_region{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.map_mobile_style{
  display: none;
}

.address_style{
  padding-left: 0px;
  padding-right: 0px;
}

.region_style{
 padding-left: 0px;
 padding-right: 0px;
}

.button_style{
  padding-left: 0px;
  padding-right:0px;
}
.search_style{
  border-bottom-left-radius: 5px;
  border-top-right-radius: 0px;
}

.tizimga_kirish{
  margin-right: 0px;
  margin-bottom: 15px;
}



</style>

<header class="" style="border-radius: 0px; font-family: 'Baloo Chettan 2';">
  <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm p-3 bg-body rounded-start">
    <div class="container-fluid">
      
      <a class="navbar-brand landing-brand" href="{% url 'home' %}">
        <i class="fas fa-key" style="color: rgb(44,26,120); font-size: 25px;"></i>
      <!-- <img class="mb-1" src="{% static 'images/logo.png' %}" alt="" width="40" height="40"> -->
      Slux.uz </a>
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>


      <!-- **************************** -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
      <li class="nav-item mx-0">
      <a class="nav-link active" aria-current="page" href="#"  style="font-size: 18px;">Tizim haqida</a>
      </li>

      <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#" style="font-size: 18px;">Yordam</a>
      </li>

      <a href="{% url 'sign_in' %}" class="btn btn-primary active btn-lg mr-1 tizimga_kirish" style="font-size: 18px;">Tizimga kirish</a>

      <a href="{% url 'sign_up' %}" class="btn btn-primary active btn-lg mr-1" style="font-size: 18px;">Ro'yxatdan o'tish</a>
     
    </ul>
      </div>

    
      </div>
  </nav>
</header>

<!-- ↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕ -->
<!-- END BLOCK CONTENT ************************************************* -->
<!-- ↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕ -->
  





<!-- ↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕ -->
<!-- FILTER ********************************************************** -->
<!-- ↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕ -->
<div class="header sticky-sm-top sticky-md-top sticky-lg-top sticky-xl-top" style="top: 10px;">
<form method="GET">
<div class="container-fluid">
<div class="container mt-4">

<div class="row" style="font-family: 'Baloo Chettan 2';">

  <div class="col-lg-2 region_style" style="border-top-left-radius: 10px; border-bottom-left-radius: 10px;', cursive; font-size: 16px;">
    {{ filter.form.region }}
  </div>
  
  <div class="col-lg-6 address_style" style="font-size: 18px;">
    {{ filter.form.address }}
  </div>

  <div class="col-lg-1 pe-0 ps-0" style="font-size: 16px;">
    {{ filter.form.kimlar }}
  </div>

  <div class="col-lg-1 p-1 bg-white" align="center" data-bs-toggle="modal" data-bs-target="#staticBackdrop" style="border: 0.2px solid #ced4da;">
    <i class="fas fa-sliders-h" style="font-size: 16px; margin-top: 12px;"></i>
  </div>
  <div class="col-sm-12 col-lg-2 button_style">
  <button type="submit" class="btn btn-primary active col-12 col-sm-12 col-lg-12 search_style" style="font-family: 'Baloo Chettan 2';">Qidirish</button>
  </div>

</div>


</div>
</div>
</div>



<!-- ↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕ -->
<!-- MODAL ********************************************************** -->
<!-- ↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕ -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog" style="width: 100%; margin-right: 40px; margin-top:70px;">
    <div class="modal-content">
      <div class="modal-header">

        <h5 class="modal-title" id="staticBackdropLabel" style=" font-size: 16px;">So'rovlar</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
      
      <div class="row" style="font-family: 'Baloo Chettan 2';">

      <div class="col-lg-6" style="font-size: 16px;">
            <label style="display: block;">Ijara vaqti</label>
           {{ filter.form.mode }}
      </div>
          
      <div class="col-lg-6" style="font-size: 16px;">
            <label style="display: block;">uy holati</label>
            {{ filter.form.topshirilgan }}
      </div>

      <div class="col-lg-6" style="font-size: 16px;">
         <label style="display: block;">kim/l?</label>
          {{ filter.form.kishilar }}
          </div>

   <div class="col-lg-6" style="font-size: 16px;">
          <label style="display: block;">p.tan</label>
          {{ filter.form.moneyc }}
        </div>

        <div class="col-lg-6" style="font-size: 16px;">
          <label style="display: block;">narx</label>
          {{ filter.form.money }}
        </div>


   <div class="col-lg-6" style="font-size: 16px;">
        <label style="display: block;">sovuq suv</label>
        {{ filter.form.sovuq_suv }}
      </div>
     
      <div class="col-lg-6" style="font-size: 16px;">
        <label style="display: block;">issiq suv</label>
        {{ filter.form.issiq_suv }}
      </div>

      <div class="col-lg-6" style="font-size: 16px;">
        <label style="display: block;">svet</label>
        {{ filter.form.svet }}
      </div>
      
      <div class="col-lg-6" style="font-size: 16px;">
        <label style="display: block;">gaz</label>
        {{ filter.form.gaz }}
      </div>

   <div class="col-lg-6" style="font-size: 16px;">
        <label style="display: block;">wifi</label>
        {{ filter.form.wifi }}
      </div>

      <div class="col-lg-6" style="font-size: 16px;">
        <label style="display: block;">sovutgich</label>
        {{ filter.form.sovutgich }}
      </div>


      <div class="col-lg-6" style="font-size: 16px;">
      <label style="display: block;">kondisioner</label>
      {{ filter.form.kondisioner }}
    </div>

    <div class="col-lg-6" style="font-size: 16px;">
      <label style="display: block;">hammom</label>
      {{ filter.form.hammom }}
    </div>

         <div class="col-lg-6" style="font-size: 16px;">
        <label style="display: block;">xafsizlik</label>
        {{ filter.form.xafsiz }}
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary active" data-bs-dismiss="modal">Yopish</button>
    <button type="submit" class="btn btn-primary active"  style="font-size: 15px;">Qidirish</button>
  </div>

</div>
</div>
</div>
<!-- ↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕ -->
<!-- END MODAL ********************************************************** -->
<!-- ↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕ -->


</form>
<!-- ↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕ -->
<!-- END FILTER ********************************************************** -->
<!-- ↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕ -->


<div class="container-fluid mt-3">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-lg-12" style="font-family: 'Baloo Chettan 2';">
          <a href="#" style="text-decoration: none; color: black;"><span>Mehmonxonalar</span></a>
          <a href="#" style="text-decoration: none;"><span class="ms-3">Umumiy ijaralar</span></a>
      </div>
      
    </div>
  </div>

</div>





<!-- ↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕ -->
<!-- ANNOUNCEMENTS - E'LON *********************************************** -->
<!-- ↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕ -->
<div class="container-fluid mt-5">
<div class="container">
<div class="row">


  <!-- START.COMP-> COL-X-2. -->
<div class="col-lg-2 map_mobile_style" style="font-family: 'Baloo Chettan 2';">

  <div class="baxodir_account_card bg-white col-lg-12 bg-white sticky-lg-top mb-5" style="top: 100px; height: auto;">
  <div class="baxodir_account_card_header">
  <h5 class="card-title " style="font-size: 18px;"><a href="http://maps.google.com/?q=samarqand viloyati" target="_blank"><i class="fas fa-map-marked-alt"></i> Samarqand xaritasi </a></h5>


  </div>
  <div class="card-body">
  {% for s in street %}
  <a href="http://maps.google.com/?q={{s.streets}}" target="_blank">
  <h6 class="card-title" style="font-size: 18px;"><i class="fas fa-map-marker-alt"></i>  {{s.streets}}</h6>
  </a>
  <br>
  {% endfor %}

  </div>
  </div>

</div>
  <!-- END.COMP-> COL-X-2. -->


  
<!-- .COMP-> COL-X-10. -->
  <div class="col-lg-10">

{% for f in object_list %}

<div class="baxodir_account_card bg-white mb-5">
<div class="baxodir_account_card_header">

<h5 class="card-title" style="font-family: 'Baloo Chettan 2'; font-size: 18px;">

  <a href="http://maps.google.com/?q={% if f.geolocaion != '' %}{{f.geolocaion}}{% else %} {{f.region}} {{f.address}} {% endif %}" target="_blank"><i class="fas fa-map-marker-alt"></i> {{f.region}} {{f.address}}</a> 

</h5>

</div>

<div class="card-body">
<div class="row">
 
  <div class="col-lg-3">
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
  {% for p in photo %}
  {% if f.id == p.announcements_id %}
  <div class="carousel-item active" data-bs-toggle="modal" data-bs-target="#Baxodir{{f.id}}">
  <img src="{% if p.image != 'None' %}{{p.image.url}}{% endif %}" class="d-block w-100" alt="...">
  </div>

  {% endif %}
  {% endfor %}
  </div>
  <!-- ******************************* -->
  
  <div class="row mt-2 baxodir_account_standart_text_bold">
     <div class="col-2">
       <button type="submit" class="btn btn-light btn-sm" style="padding: 0px 10px 0px 10px; background: #e0eafc; color: blue;"><a href="{% url 'sign_in' %}" style="text-decoration: none;">+</a></button>
    </div>

    <div class="col">
      <button type="submit" class="btn btn-light btn-sm ui button" style="padding: 0px 10px 0px 10px; background: #e0eafc; color: blue;">
         <a href="{% url 'sign_in' %}" style="text-decoration: none;">Yoqdi</a>
      </button>
      <button type="submit" class="btn btn-light btn-sm" style="padding: 0px 10px 0px 10px; background: #e0eafc; color: blue;"><span class="like-count{{f.id}}">{{f.num_likes}}</span></button>
    </div>

   
    </div>


  <!-- ****************************** -->
  </div>

  <!-- Modal -->
  <div class="modal fade" id="Baxodir{{f.id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
  <div class="modal-content">
  <div class="modal-header">
  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  {% for p in photo %}
  {% if f.id == p.announcements_id %}
  <img src="{{p.image.url}}" class="img-fluid" alt="...">
  {% endif %}
  {% endfor %}
  <div class="modal-footer">
  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Yopish</button>
  </div>
  </div>
  </div>
  </div>

  </div>





  <div class="col-lg-7">
  <div class="row"> 
  
  <div class="col-lg-6" style="font-family: 'Baloo Chettan 2';">
    <ul class="list-unstyled">
    <li><span class="" style="font-weight: 500; font-weight: bold;">Iste'mol ehtiyojlari</span>
    <ul style="list-style: none; padding-left: 10px; ">
    <li><i class="fas fa-hand-holding-water" style="color: rgb(29,114,194);"></i> {{f.sovuq_suv}}
      </li>
    <li><i class="fas fa-hand-holding-water" style="color: rgb(237,121,165);"></i> {{f.issiq_suv}}</li>
    <li><i class="fas fa-lightbulb" style="color: rgb(240,234,132);"></i> {{f.svet}}</li>
    <li><i class="fas fa-fire" style="color: rgb(222,7,7);"></i> {{f.gaz}}</li>
    </ul>
    </li>
    </ul>

    <ul class="list-unstyled">
    <li><span class="" style="font-weight: 500; font-weight: bold;">Iste'mol ehtiyojlari</span>
    <ul style="list-style: none; padding-left: 10px; ">
    <li><i class="fas fa-wifi" style="color: rgb(7,32,222);"></i> {{f.wifi}}
      </li>
    <li><i class="fas fa-columns" style="color: rgb(5,115,14);"></i> {{f.sovutgich}}</li>
    <li><i class="fas fa-fan" style="color: rgb(79,243,255);"></i> {{f.kondisioner}}</li>
    </ul>
    </li>
    </ul>

  </div>
  <div class="col-lg-6" style="font-family: 'Baloo Chettan 2';">
     <ul class="list-unstyled">
    <li><span class="" style="font-weight: 500; font-weight: bold;">Gigiyena sharaoidlar</span>
    <ul style="list-style: none; padding-left: 10px; ">
    <li><i class="fas fa-bath"></i> {{f.hammom}}</li>
    </ul>
    </li>
    </ul>


     <ul class="list-unstyled">
    <li><span class="" style="font-weight: 500; font-weight: bold;">Xavfsizlik tizimi</span> 
    <ul style="list-style: none; padding-left: 10px; ">
    <li><i class="fas fa-satellite-dish" style="color: rgb(7,32,222);"></i> {{f.xafsiz}}
      </li>
    </ul>
    </li>
    </ul>

      <ul class="list-unstyled">
    <li><span class="" style="font-weight: 500; font-weight: bold;">Kimlar uchun</span> 
    <ul style="list-style: none; padding-left: 10px; ">
      {% if f.kimlar == "erkak" %}
    <li><i class="fas fa-male" style="font-size: 20px;"></i> {{f.kimlar}} Joy. {{f.kishilar}}
      </li>
      {% elif f.kimlar == "ayol" %}
      <li><i class="fas fa-female" style="font-size: 20px;"></i> {{f.kimlar}} Joy. {{f.kishilar}}
      </li>
      {% else %}
      <li><i class="fas fa-male" style="font-size: 20px;"></i><i class="fas fa-child" style="font-size: 20px;"></i><i class="fas fa-female" style="font-size: 20px;"></i> {{f.kimlar}} Joy. {{f.kishilar}}
      </li>
      {% endif %}
      <li><i class="fas fa-home"></i> {{f.topshirilgan}} 
      </li>


    </ul>
    </li>
    </ul>

  </div>
  
  </div>
  </div>

  
<div class="col-lg-2" style="font-family: 'Baloo Chettan 2';">
  <a href="tel:{{f.phone_numer}}">
  <div class="p-2 mb-2 bg-primary active rounded text-white" style="font-size: 16px;">{{f.phone_numer}}
  </div>
  </a>

  <div class="p-2 mb-2 bg-primary rounded mt-3 text-white" style="font-size: 16px;">{{f.mode}}
  </div>

 <div class="p-2 mb-2 bg-primary rounded mt-3 text-white" style="font-size: 16px;">{{f.money}}  {{f.moneyc}}<span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
  </div>

  <div data-bs-toggle="collapse" href="#hause{{f.id}}" role="button" aria-expanded="false" aria-controls="collapseExample" class="p-2 mb-2 bg-primary rounded mt-3 text-white " text-white style="font-size: 16px;">Qo'shimcha malumot
  </div>

</div>


<!-- ****** -->
<div class="collapse" id="hause{{f.id}}" style="font-family: 'Baloo Chettan 2';">
  <div class="card card-body">

      <div>
      <i class="fas fa-gavel"></i> - {{ f.tartiblar }}
    </div>
    <div>
      <i class="fas fa-briefcase"></i> - {{ f.ish }}
    </div>
    <br>
    <div>
     Iste'mol ehtiyojlari qo'shimcha: - {{ f.additional2 }}
    </div>
    <div>
     Elektron vositalari qo'shimcha: - {{ f.additional3 }}
    </div>
    <div>
     Gigiyena sharaoidlar qo'shimcha: - {{ f.additional4 }}
    </div>
    <div>
     Xavfsizlik tizimi qo'shimcha: - {{ f.additional5 }}
    </div>


  </div>
</div>
<!-- ****** -->

</div>
</div>

</div>

{% endfor %}

</div> 
<!-- END COMP-> COL-X-10. -->
</div>

<!-- ********************** -->

<div class="row">
<div class="col-sm col-lg-2">
</div>
 <div class="col-sm col-lg-8" align="center"> 
      

<nav aria-label="...">
  <ul class="pagination">
    
    {% if object_list.has_previous %}
    <li class="page-item">
     <a class="page-link" href="?page=1"><i class="fas fa-chevron-left"></i><i class="fas fa-chevron-left"></i></a>
    </li>
    <li class="page-item">
      <a class="page-link" href="?page={{ object_list.previous_page_number }}"><i class="fas fa-chevron-left"></i></a>
    </li>
    {% endif %}
      
      <!-- Add pagination number -->

    {% if object_list.has_next %}
    <li class="page-item">
      <a class="page-link" href="?page={{ object_list.next_page_number }}"><i class="fas fa-chevron-right"></i></a>
    </li>
    <li class="page-item">
      <a class="page-link" href="?page={{ object_list.paginator.num_pages }}"><i class="fas fa-chevron-right"></i><i class="fas fa-chevron-right"></i></a>
    </li>
    {% endif %}

  </ul>
</nav>

</div>
<div class="col-sm col-lg-2">
</div>

</div>


<!-- ********************** -->

</div>
</div>
<!-- ↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕ -->
<!-- ANNOUNCEMENTS - E'LON *********************************************** -->
<!-- ↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕ -->
{% endblock content %}




{% block scripts %}
<!-- ↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕ -->
<!-- START LOCAL R - INTERNETSIZ REJIM ***************************************** -->
<!-- ↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕ -->
<script>
var url = window.location.href;
let params = (new URL(url)).searchParams;
var onestr = params.get('q') // "n1"
var allstr = params.getAll('q') // ["n1", "n2"]

// document.querySelector('input[id="search_here"]').value = allstr;
</script>
<!-- ↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕ -->
<!-- END LOCAL R - INTERNETSIZ REJIM ***************************************** -->
<!-- ↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕ -->


{% endblock scripts %}