<!DOCTYPE html>

<html lang="en">

<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% load static %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'style/style.css' %}"> 
<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Baloo+Chettan+2:wght@500&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Andika&family=Baloo+Chettan+2:wght@500&family=Open+Sans&family=PT+Sans+Caption:wght@700&family=Source+Sans+Pro&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Andika&family=Baloo+Chettan+2:wght@500&family=Noto+Sans+TC:wght@300&family=Open+Sans&family=PT+Sans+Caption:wght@700&family=Source+Sans+Pro&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@300&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@500&display=swap" rel="stylesheet">
<script src="https://code.jquery.com/jquery-1.12.2.js"></script>
<script src="{% static 'fontawesome_free/js/all.min.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'style/admin.css' %}">


</head>

<!-- ↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕ -->
<!-- ↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕ -->
<body>

<!-- ↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕ -->
<!-- ↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕ -->


<style type="text/css">
.logo_div{
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 26px;
  font-size: 17px;
}

</style>


<div class="container-fluid">
<div class="row">


<!-- baxodir_account_card bg-white col-lg-12 bg-white " style="top: 100px; height: 500px;" -->

<!-- ↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕ -->
  <!-- MENU -->
<!-- ↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕ -->
<div class="menuopen">
<div class="sticky-lg-top"> 



<div class="logo_div">
<a class="sidebar-brand" href="{% url 'administrator' %}">UY Q.TIZIMI</a>
</div>


<ul class="big_menu">

<li class="paragraf_list">Boshqaruvlar</li>

{% block elon %}
<div id="accordion">
<li class="collapse_list" data-toggle="collapse" data-target="#hause1" aria-expanded="true" aria-controls="hause1">
<i class="fas fa-bullhorn"></i></i>
<span class="text_collapse">E'lonlar</span> </li>
<div id="hause1" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
<ul class="small_menu">
<a href=""><li>E'lonlar</li></a>
</ul>
</div>
</div>
{% endblock %}


<div id="accordion">
<li class="collapse_list" data-toggle="collapse" data-target="#hause5" aria-expanded="true" aria-controls="collapseOne"><i class="fas fa-search-plus"></i><span class="text_collapse">Sozlamar</span> </li>
<div id="hause5" class="collapse" data-parent="#accordion">
        
<ul class="small_menu">
<li>Adminlar</li>
</ul>

</div>
</div>


{% block administrator %}
<div id="accordion">
<li class="collapse_list" data-toggle="collapse" data-target="#hause2" aria-expanded="true" aria-controls="collapseOne"><i class="fas fa-user-shield"></i><span class="text_collapse">Administrator</span> </li>
<div id="hause2" class="collapse"  data-parent="#accordion">
        
<ul class="small_menu">
<li>E'lon beruvchi</li>
<li>Adminlar</li>
</ul>

</div>
</div>
{% endblock %}



<div id="accordion">
<li class="collapse_list" data-toggle="collapse" data-target="#hause3" aria-expanded="true" aria-controls="collapseOne"><i class="fas fa-sliders-h"></i><span class="text_collapse">Sozlamar</span> </li>
<div id="hause3" class="collapse" data-parent="#accordion">
        
<ul class="small_menu">
<li>Ijarachilar</li>
<li>Adminlar</li>
</ul>

</div>
</div>



<li class="paragraf_list">Yordam</li>
<div id="accordion">
<li class="collapse_list" data-toggle="collapse" data-target="#hause4" aria-expanded="true" aria-controls="collapseOne"><i class="fas fa-sliders-h"></i><span class="text_collapse">Admin</span> </li>
<div id="hause4" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
<ul class="small_menu">
<li>ascascascascasca</li>
</ul>
</div>
</div>




</ul>


</div>
</div>
<!-- ↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕ -->
<!-- MENU -/ -->
<!-- ↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕ -->








<!-- ↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕ -->
<!-- Container -->
<!-- ↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕ -->
<div class="info-open ps-0 px-0">
<nav class="navbar navbar-light bg-white sticky-lg-top admin_announcements_border rounded-0">
<div class="container-fluid">
<a class="navbar-brand" id="toggle"><i class="fas fa-bars"></i></a>


<div class="d-flex align-items-center">
  <div class="flex-shrink-0 dropdown">
  <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle show" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="true">
  <img src="{{request.user.useradminpage.admin_image.url}}" alt="mdo" width="32" height="32" class="rounded-circle">
  </a>
  <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser1" data-popper-placement="bottom-end" style="position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate(-110px, 34px);">
  <li><a class="dropdown-item" href="#">{{request.user.last_name}} {{request.user.first_name}}</a></li>
  <li><a class="dropdown-item" href="#">Sozlamalar</a></li>
  <li><a class="dropdown-item" href="#">Tizimdan chiqish</a></li>
  </ul>
  </div>
  </div>
</div>



</nav>
{% block container %}




{% endblock %}
</div>
<!-- ↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕ -->
<!-- Container -->
<!-- ↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕ -->

</div>
</div>


<script type="text/javascript">

$("#toggle").on('click', function() {
$('.menuopen').toggleClass("close");
$('.info-open').toggleClass("info-close");
});

</script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<!-- ↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕ -->
<!-- ↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕ -->

</body>

<!-- ↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕ -->
<!-- ↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕ -->


</html>